/dist/*
!/dist/fork-manifest.json
!/dist/css/
/dist/css/*
!/dist/css/drake.css
!/dist/css/drake.min.css
!/dist/css/drake-rtl.css
!/dist/css/drake-rtl.min.css
!/dist/css/drake-inter.css
!/dist/css/drake-inter-files.css
!/dist/css/drake-tabler-icons.css
!/dist/js/
/dist/js/*
!/dist/js/components/
/dist/js/components/*
!/dist/js/components/.gitkeep
!/dist/js/drake.js
!/dist/js/drake.min.js
!/dist/fonts/
!/dist/types/
/node_modules
/tests/js/test*
/tests/css/*
custom
themes.json
.DS_Store
/.idea
/.vscode
/.cachebro
/.cache/
/reports/
/tests/fixtures/*.metrics.json
