/dist/*
!/dist/fork-manifest.json
!/dist/css/
/dist/css/*
!/dist/css/drake.css
!/dist/css/drake.min.css
!/dist/css/drake-rtl.css
!/dist/css/drake-rtl.min.css
!/dist/css/drake-core.css
!/dist/css/drake-core.min.css
!/dist/css/drake-core-rtl.css
!/dist/css/drake-core-rtl.min.css
!/dist/css/drake-inter.css
!/dist/css/drake-tabler-icons.css
!/dist/js/
/dist/js/*
!/dist/js/drake.js
!/dist/js/drake.min.js
!/dist/js/drake-core.js
!/dist/js/drake-core.min.js
!/dist/js/components/
/.github
/.cache/fork-assets/
/node_modules
/tests/js/test*
/tests/css/*
custom
themes.json
.DS_Store
/.idea
/reports
/tests/fixtures/*.metrics.json
