@use "sass:meta";

// Name:            Alert
// Description:     Component to create alert messages
//
// Component:       `drk-alert`
//
// Adopted:         `drk-alert-close`
//
// Modifiers:       `drk-alert-primary`
//                  `drk-alert-success`
//                  `drk-alert-warning`
//                  `drk-alert-danger`
//
// ========================================================================


// Variables
// ========================================================================








/* ========================================================================
   Component: Alert
 ========================================================================== */

.drk-alert {
    position: relative;
    margin-bottom: $alert-margin-vertical;
    padding: $alert-padding $alert-padding-right $alert-padding $alert-padding;
    background: $alert-background;
    color: $alert-color;
    @if(meta.mixin-exists(hook-alert)) {@include hook-alert();}
}

/* Add margin if adjacent element */
* + .drk-alert { margin-top: $alert-margin-vertical; }

/*
 * Remove margin from the last-child
 */

.drk-alert > :last-child { margin-bottom: 0; }


/* Close
 * Adopts `drk-close`
 ========================================================================== */

.drk-alert-close {
    position: absolute;
    top: $alert-close-top;
    right: $alert-close-right;
    @if(meta.mixin-exists(hook-alert-close)) {@include hook-alert-close();}
}

/*
 * Remove margin from adjacent element
 */

.drk-alert-close:first-child + * { margin-top: 0; }

/*
 * Hover
 */

.drk-alert-close:hover {
    @if(meta.mixin-exists(hook-alert-close-hover)) {@include hook-alert-close-hover();}
}


/* Style modifiers
 ========================================================================== */

/*
 * Primary
 */

.drk-alert-primary {
    background: $alert-primary-background;
    color: $alert-primary-color;
    @if(meta.mixin-exists(hook-alert-primary)) {@include hook-alert-primary();}
}

/*
 * Success
 */

.drk-alert-success {
    background: $alert-success-background;
    color: $alert-success-color;
    @if(meta.mixin-exists(hook-alert-success)) {@include hook-alert-success();}
}

/*
 * Warning
 */

.drk-alert-warning {
    background: $alert-warning-background;
    color: $alert-warning-color;
    @if(meta.mixin-exists(hook-alert-warning)) {@include hook-alert-warning();}
}

/*
 * Danger
 */

.drk-alert-danger {
    background: $alert-danger-background;
    color: $alert-danger-color;
    @if(meta.mixin-exists(hook-alert-danger)) {@include hook-alert-danger();}
}


// Hooks
// ========================================================================

@if(meta.mixin-exists(hook-alert-misc)) {@include hook-alert-misc();}

// @mixin hook-alert(){}
// @mixin hook-alert-close(){}
// @mixin hook-alert-close-hover(){}
// @mixin hook-alert-primary(){}
// @mixin hook-alert-success(){}
// @mixin hook-alert-warning(){}
// @mixin hook-alert-danger(){}
// @mixin hook-alert-misc(){}
