@use "sass:meta";

// Name:            Card
// Description:     Component to create boxed content containers
//
// Component:       `drk-card`
//
// Sub-objects:     `drk-card-body`
//                  `drk-card-header`
//                  `drk-card-footer`
//                  `drk-card-media-*`
//                  `drk-card-title`
//                  `drk-card-badge`
//
// Modifiers:       `drk-card-hover`
//                  `drk-card-default`
//                  `drk-card-primary`
//                  `drk-card-secondary`
//                  `drk-card-overlay`
//                  `drk-card-small`
//                  `drk-card-large`
//
// Uses:            `drk-grid-stack`
//
// ========================================================================


// Variables
// ========================================================================

















/* ========================================================================
   Component: Card
 ========================================================================== */

.drk-card {
    position: relative;
    box-sizing: border-box;
    @if(meta.mixin-exists(hook-card)) {@include hook-card();}
}


/* Sections
 ========================================================================== */

.drk-card-body {
    display: flow-root;
    padding: $card-body-padding-vertical $card-body-padding-horizontal;
    @if(meta.mixin-exists(hook-card-body)) {@include hook-card-body();}
}

.drk-card-header {
    display: flow-root;
    padding: $card-header-padding-vertical $card-header-padding-horizontal;
    @if(meta.mixin-exists(hook-card-header)) {@include hook-card-header();}
}

.drk-card-footer {
    display: flow-root;
    padding: $card-footer-padding-vertical $card-footer-padding-horizontal;
    @if(meta.mixin-exists(hook-card-footer)) {@include hook-card-footer();}
}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .drk-card-body { padding: $card-body-padding-vertical-l $card-body-padding-horizontal-l; }

    .drk-card-header { padding: $card-header-padding-vertical-l $card-header-padding-horizontal-l; }

    .drk-card-footer { padding: $card-footer-padding-vertical-l $card-footer-padding-horizontal-l; }

}

/*
 * Remove margin from the last-child
 */

.drk-card-body > :last-child,
.drk-card-header > :last-child,
.drk-card-footer > :last-child { margin-bottom: 0; }


/* Media
 ========================================================================== */

/*
 * Reserved alignment modifier to style the media element, e.g. with `border-radius`
 * Implemented by the theme
 */

[class*="drk-card-media"] {
    @if(meta.mixin-exists(hook-card-media)) {@include hook-card-media();}
}

.drk-card-media-top,
.drk-grid-stack > .drk-card-media-left,
.drk-grid-stack > .drk-card-media-right {
    @if(meta.mixin-exists(hook-card-media-top)) {@include hook-card-media-top();}
}

.drk-card-media-bottom {
    @if(meta.mixin-exists(hook-card-media-bottom)) {@include hook-card-media-bottom();}
}

:not(.drk-grid-stack) > .drk-card-media-left {
    @if(meta.mixin-exists(hook-card-media-left)) {@include hook-card-media-left();}
}

:not(.drk-grid-stack) > .drk-card-media-right {
    @if(meta.mixin-exists(hook-card-media-right)) {@include hook-card-media-right();}
}


/* Title
 ========================================================================== */

.drk-card-title {
    font-size: $card-title-font-size;
    line-height: $card-title-line-height;
    @if(meta.mixin-exists(hook-card-title)) {@include hook-card-title();}
}


/* Badge
 ========================================================================== */

/*
 * 1. Position
 * 2. Size
 * 3. Style
 * 4. Center child vertically
 */

.drk-card-badge {
    /* 1 */
    position: absolute;
    top: $card-badge-top;
    right: $card-badge-right;
    z-index: 1;
    /* 2 */
    height: $card-badge-height;
    padding: 0 $card-badge-padding-horizontal;
    /* 3 */
    background: $card-badge-background;
    color: $card-badge-color;
    font-size: $card-badge-font-size;
    /* 4 */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    @if(meta.mixin-exists(hook-card-badge)) {@include hook-card-badge();}
}

/*
 * Remove margin from adjacent element
 */

.drk-card-badge:first-child + * { margin-top: 0; }


/* Hover modifier
 ========================================================================== */

.drk-card-hover:not(.drk-card-default, .drk-card-primary, .drk-card-secondary, .drk-card-overlay):hover {
    background-color: $card-hover-background;
    @if(meta.mixin-exists(hook-card-hover)) {@include hook-card-hover();}
}


/* Style modifiers
 ========================================================================== */

/*
 * Default
 * Note: Header and Footer are only implemented for the default style
 */

.drk-card-default {
    --drk-inverse: #{$card-default-color-mode};
    background-color: $card-default-background;
    color: $card-default-color;
    @if(meta.mixin-exists(hook-card-default)) {@include hook-card-default();}
}

.drk-card-default .drk-card-title {
    color: $card-default-title-color;
    @if(meta.mixin-exists(hook-card-default-title)) {@include hook-card-default-title();}
}

.drk-card-default.drk-card-hover:hover {
    background-color: $card-default-hover-background;
    @if(meta.mixin-exists(hook-card-default-hover)) {@include hook-card-default-hover();}
}

.drk-card-default .drk-card-header {
    @if(meta.mixin-exists(hook-card-default-header)) {@include hook-card-default-header();}
}

.drk-card-default .drk-card-footer {
    @if(meta.mixin-exists(hook-card-default-footer)) {@include hook-card-default-footer();}
}

// Color Mode
@if ( $card-default-color-mode == light ) { .drk-card-default.drk-card-body { @extend .drk-light !optional;} }
@if ( $card-default-color-mode == light ) { .drk-card-default > :not([class*="drk-card-media"]) { @extend .drk-light !optional;} }
@if ( $card-default-color-mode == dark ) { .drk-card-default.drk-card-body { @extend .drk-dark !optional;} }
@if ( $card-default-color-mode == dark ) { .drk-card-default > :not([class*="drk-card-media"]) { @extend .drk-dark !optional;} }

/*
 * Primary
 */

.drk-card-primary {
    --drk-inverse: #{$card-primary-color-mode};
    background-color: $card-primary-background;
    color: $card-primary-color;
    @if(meta.mixin-exists(hook-card-primary)) {@include hook-card-primary();}
}

.drk-card-primary .drk-card-title {
    color: $card-primary-title-color;
    @if(meta.mixin-exists(hook-card-primary-title)) {@include hook-card-primary-title();}
}

.drk-card-primary.drk-card-hover:hover {
    background-color: $card-primary-hover-background;
    @if(meta.mixin-exists(hook-card-primary-hover)) {@include hook-card-primary-hover();}
}

// Color Mode
@if ( $card-primary-color-mode == light ) { .drk-card-primary.drk-card-body { @extend .drk-light !optional;} }
@if ( $card-primary-color-mode == light ) { .drk-card-primary > :not([class*="drk-card-media"]) { @extend .drk-light !optional;} }
@if ( $card-primary-color-mode == dark ) { .drk-card-primary.drk-card-body { @extend .drk-dark !optional;} }
@if ( $card-primary-color-mode == dark ) { .drk-card-primary > :not([class*="drk-card-media"]) { @extend .drk-dark !optional;} }

/*
 * Secondary
 */

.drk-card-secondary {
    --drk-inverse: #{$card-secondary-color-mode};
    background-color: $card-secondary-background;
    color: $card-secondary-color;
    @if(meta.mixin-exists(hook-card-secondary)) {@include hook-card-secondary();}
}

.drk-card-secondary .drk-card-title {
    color: $card-secondary-title-color;
    @if(meta.mixin-exists(hook-card-secondary-title)) {@include hook-card-secondary-title();}
}

.drk-card-secondary.drk-card-hover:hover {
    background-color: $card-secondary-hover-background;
    @if(meta.mixin-exists(hook-card-secondary-hover)) {@include hook-card-secondary-hover();}
}

// Color Mode
@if ( $card-secondary-color-mode == light ) { .drk-card-secondary.drk-card-body { @extend .drk-light !optional;} }
@if ( $card-secondary-color-mode == light ) { .drk-card-secondary > :not([class*="drk-card-media"]) { @extend .drk-light !optional;} }
@if ( $card-secondary-color-mode == dark ) { .drk-card-secondary.drk-card-body { @extend .drk-dark !optional;} }
@if ( $card-secondary-color-mode == dark ) { .drk-card-secondary > :not([class*="drk-card-media"]) { @extend .drk-dark !optional;} }


/*
 * Overlay
 */

.drk-card-overlay {
    --drk-inverse: #{$card-overlay-color-mode};
    background-color: $card-overlay-background;
    color: $card-overlay-color;
    @if(meta.mixin-exists(hook-card-overlay)) {@include hook-card-overlay();}
}

.drk-card-overlay .drk-card-title {
    color: $card-overlay-title-color;
    @if(meta.mixin-exists(hook-card-overlay-title)) {@include hook-card-overlay-title();}
}

.drk-card-overlay.drk-card-hover:hover {
    background-color: $card-overlay-hover-background;
    @if(meta.mixin-exists(hook-card-overlay-hover)) {@include hook-card-overlay-hover();}
}


// Color Mode
@if ( $card-overlay-color-mode == light ) { .drk-card-overlay.drk-card-body { @extend .drk-light !optional;} }
@if ( $card-overlay-color-mode == light ) { .drk-card-overlay > :not([class*="drk-card-media"]) { @extend .drk-light !optional;} }
@if ( $card-overlay-color-mode == dark ) { .drk-card-overlay.drk-card-body { @extend .drk-dark !optional;} }
@if ( $card-overlay-color-mode == dark ) { .drk-card-overlay > :not([class*="drk-card-media"]) { @extend .drk-dark !optional;} }


/* Size modifier
 ========================================================================== */

/*
 * Small
 */

.drk-card-small.drk-card-body,
.drk-card-small .drk-card-body { padding: $card-small-body-padding-vertical $card-small-body-padding-horizontal; }

.drk-card-small .drk-card-header { padding: $card-small-header-padding-vertical $card-small-header-padding-horizontal; }
.drk-card-small .drk-card-footer { padding: $card-small-footer-padding-vertical $card-small-footer-padding-horizontal; }

/*
 * Large
 */

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .drk-card-large.drk-card-body,
    .drk-card-large .drk-card-body { padding: $card-large-body-padding-vertical-l $card-large-body-padding-horizontal-l; }

    .drk-card-large .drk-card-header { padding: $card-large-header-padding-vertical-l $card-large-header-padding-horizontal-l; }
    .drk-card-large .drk-card-footer { padding: $card-large-footer-padding-vertical-l $card-large-footer-padding-horizontal-l; }

}


// Hooks
// ========================================================================

@if(meta.mixin-exists(hook-card-misc)) {@include hook-card-misc();}

// @mixin hook-card(){}
// @mixin hook-card-body(){}
// @mixin hook-card-header(){}
// @mixin hook-card-footer(){}
// @mixin hook-card-media(){}
// @mixin hook-card-media-top(){}
// @mixin hook-card-media-bottom(){}
// @mixin hook-card-media-left(){}
// @mixin hook-card-media-right(){}
// @mixin hook-card-title(){}
// @mixin hook-card-badge(){}
// @mixin hook-card-hover(){}
// @mixin hook-card-default(){}
// @mixin hook-card-default-title(){}
// @mixin hook-card-default-hover(){}
// @mixin hook-card-default-header(){}
// @mixin hook-card-default-footer(){}
// @mixin hook-card-primary(){}
// @mixin hook-card-primary-title(){}
// @mixin hook-card-primary-hover(){}
// @mixin hook-card-secondary(){}
// @mixin hook-card-secondary-title(){}
// @mixin hook-card-secondary-hover(){}
// @mixin hook-card-overlay(){}
// @mixin hook-card-overlay-title(){}
// @mixin hook-card-overlay-hover(){}
// @mixin hook-card-misc(){}


// Inverse
// ========================================================================




// @mixin hook-inverse-card-badge(){}
