@use "sass:meta";
@use "sass:string";

// Name:            Container
// Description:     Component to align and center your site and grid content
//
// Component:       `drk-container`
//
// Modifier:        `drk-container-small`
//                  `drk-container-large`
//                  `drk-container-expand`
//                  `drk-container-expand-left`
//                  `drk-container-expand-right`
//                  `drk-container-item-padding-remove-left`
//                  `drk-container-item-padding-remove-right`
//
// ========================================================================


// Variables
// ========================================================================




/* ========================================================================
   Component: Container
 ========================================================================== */

/*
 * 1. Box sizing has to be `content-box` so the max-width is always the same and
 *    unaffected by the padding on different breakpoints. It's important for the size modifiers.
 */

.drk-container {
    display: flow-root;
    /* 1 */
    box-sizing: content-box;
    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding-horizontal;
    padding-right: $container-padding-horizontal;
}

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {

    .drk-container {
        padding-left: $container-padding-horizontal-s;
        padding-right: $container-padding-horizontal-s;
    }

}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {

    .drk-container {
        padding-left: $container-padding-horizontal-m;
        padding-right: $container-padding-horizontal-m;
    }

}

/*
 * Remove margin from the last-child
 */

.drk-container > :last-child { margin-bottom: 0; }

/*
 * Remove padding from nested containers
 */

.drk-container .drk-container {
    padding-left: 0;
    padding-right: 0;
}


/* Size modifier
 ========================================================================== */

.drk-container-xsmall { max-width: $container-xsmall-max-width; }

.drk-container-small { max-width: $container-small-max-width; }

.drk-container-large { max-width: $container-large-max-width; }

.drk-container-xlarge { max-width: $container-xlarge-max-width; }

.drk-container-expand { max-width: none; }


/* Expand modifier
 ========================================================================== */

/*
 * Expand one side only
 */

.drk-container-expand-left { margin-left: 0; }
.drk-container-expand-right { margin-right: 0; }

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {

    .drk-container-expand-left.drk-container-xsmall,
    .drk-container-expand-right.drk-container-xsmall { max-width: string.unquote('calc(50% + (#{$container-xsmall-max-width} / 2) - #{$container-padding-horizontal-s})'); }

    .drk-container-expand-left.drk-container-small,
    .drk-container-expand-right.drk-container-small { max-width: string.unquote('calc(50% + (#{$container-small-max-width} / 2) - #{$container-padding-horizontal-s})'); }

}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {

    .drk-container-expand-left,
    .drk-container-expand-right { max-width: string.unquote('calc(50% + (#{$container-max-width} / 2) - #{$container-padding-horizontal-m})'); }

    .drk-container-expand-left.drk-container-xsmall,
    .drk-container-expand-right.drk-container-xsmall { max-width: string.unquote('calc(50% + (#{$container-xsmall-max-width} / 2) - #{$container-padding-horizontal-m})'); }

    .drk-container-expand-left.drk-container-small,
    .drk-container-expand-right.drk-container-small { max-width: string.unquote('calc(50% + (#{$container-small-max-width} / 2) - #{$container-padding-horizontal-m})'); }

    .drk-container-expand-left.drk-container-large,
    .drk-container-expand-right.drk-container-large { max-width: string.unquote('calc(50% + (#{$container-large-max-width} / 2) - #{$container-padding-horizontal-m})'); }

    .drk-container-expand-left.drk-container-xlarge,
    .drk-container-expand-right.drk-container-xlarge { max-width: string.unquote('calc(50% + (#{$container-xlarge-max-width} / 2) - #{$container-padding-horizontal-m})'); }

}


/* Item
 ========================================================================== */

/*
 * Utility classes to reset container padding on the left or right side
 * Note: It has to be negative margin on the item, because it's specific to the item.
 */

.drk-container-item-padding-remove-left,
.drk-container-item-padding-remove-right { width: string.unquote('calc(100% + #{$container-padding-horizontal})'); }

.drk-container-item-padding-remove-left { margin-left: (-$container-padding-horizontal); }
.drk-container-item-padding-remove-right { margin-right: (-$container-padding-horizontal); }

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {

    .drk-container-item-padding-remove-left,
    .drk-container-item-padding-remove-right { width: string.unquote('calc(100% + #{$container-padding-horizontal-s})'); }

    .drk-container-item-padding-remove-left { margin-left: (-$container-padding-horizontal-s); }
    .drk-container-item-padding-remove-right { margin-right: (-$container-padding-horizontal-s); }

}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {

    .drk-container-item-padding-remove-left,
    .drk-container-item-padding-remove-right { width: string.unquote('calc(100% + #{$container-padding-horizontal-m})'); }

    .drk-container-item-padding-remove-left { margin-left: (-$container-padding-horizontal-m); }
    .drk-container-item-padding-remove-right { margin-right: (-$container-padding-horizontal-m); }

}


// Hooks
// ========================================================================

@if(meta.mixin-exists(hook-container-misc)) {@include hook-container-misc();}

// @mixin hook-container-misc(){}
