@use "sass:meta";

// Name:            Inverse
// Description:     Inverse component style for light or dark backgrounds
//
// Component:       `drk-light`
//                  `drk-dark`
//
// ========================================================================


// Variables
// ========================================================================






/* ========================================================================
   Component: Inverse
 ========================================================================== */


/*
 * Implemented class depends on the general theme color
 * `drk-light` is for light colors on dark backgrounds
 * `drk-dark` is or dark colors on light backgrounds
 */

@if ($inverse-global-color-mode == light) { .drk-light { @if (meta.mixin-exists(hook-inverse)) {@include hook-inverse();}}}

@if ($inverse-global-color-mode == dark) { .drk-dark { @if (meta.mixin-exists(hook-inverse)) {@include hook-inverse();}}}

/*
 * Pass dropbar behind color to JS
 */

* { --drk-inverse: initial; }

.drk-light { --drk-inverse: light; }
.drk-dark { --drk-inverse: dark; }

.drk-inverse-light { --drk-inverse: light !important; }
.drk-inverse-dark { --drk-inverse: dark !important; }


// Hooks
// ========================================================================

// @mixin hook-inverse(){}
