@use "sass:meta";

// Name:            Margin
// Description:     Utilities for margins
//
// Component:       `drk-margin-*`
//                  `drk-margin-small-*`
//                  `drk-margin-medium-*`
//                  `drk-margin-large-*`
//                  `drk-margin-xlarge-*`
//                  `drk-margin-remove-*`
//                  `drk-margin-auto-*`
//
// ========================================================================


// Variables
// ========================================================================








/* ========================================================================
   Component: Margin
 ========================================================================== */

/*
 * Default
 */

.drk-margin { margin-bottom: $margin-margin; }
* + .drk-margin { margin-top: $margin-margin !important; }

.drk-margin-top { margin-top: $margin-margin !important; }
.drk-margin-bottom { margin-bottom: $margin-margin !important; }
.drk-margin-left { margin-left: $margin-margin !important; }
.drk-margin-right { margin-right: $margin-margin !important; }


/* XSmall
 ========================================================================== */

.drk-margin-xsmall { margin-bottom: $margin-xsmall-margin; }
* + .drk-margin-xsmall { margin-top: $margin-xsmall-margin !important; }

.drk-margin-xsmall-top { margin-top: $margin-xsmall-margin !important; }
.drk-margin-xsmall-bottom { margin-bottom: $margin-xsmall-margin !important; }
.drk-margin-xsmall-left { margin-left: $margin-xsmall-margin !important; }
.drk-margin-xsmall-right { margin-right: $margin-xsmall-margin !important; }


/* Small
 ========================================================================== */

.drk-margin-small { margin-bottom: $margin-small-margin; }
* + .drk-margin-small { margin-top: $margin-small-margin !important; }

.drk-margin-small-top { margin-top: $margin-small-margin !important; }
.drk-margin-small-bottom { margin-bottom: $margin-small-margin !important; }
.drk-margin-small-left { margin-left: $margin-small-margin !important; }
.drk-margin-small-right { margin-right: $margin-small-margin !important; }


/* Medium
 ========================================================================== */

.drk-margin-medium { margin-bottom: $margin-medium-margin; }
* + .drk-margin-medium { margin-top: $margin-medium-margin !important; }

.drk-margin-medium-top { margin-top: $margin-medium-margin !important; }
.drk-margin-medium-bottom { margin-bottom: $margin-medium-margin !important; }
.drk-margin-medium-left { margin-left: $margin-medium-margin !important; }
.drk-margin-medium-right { margin-right: $margin-medium-margin !important; }


/* Large
 ========================================================================== */

.drk-margin-large { margin-bottom: $margin-large-margin; }
* + .drk-margin-large { margin-top: $margin-large-margin !important; }

.drk-margin-large-top { margin-top: $margin-large-margin !important; }
.drk-margin-large-bottom { margin-bottom: $margin-large-margin !important; }
.drk-margin-large-left { margin-left: $margin-large-margin !important; }
.drk-margin-large-right { margin-right: $margin-large-margin !important; }

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .drk-margin-large { margin-bottom: $margin-large-margin-l; }
    * + .drk-margin-large { margin-top: $margin-large-margin-l !important; }

    .drk-margin-large-top { margin-top: $margin-large-margin-l !important; }
    .drk-margin-large-bottom { margin-bottom: $margin-large-margin-l !important; }
    .drk-margin-large-left { margin-left: $margin-large-margin-l !important; }
    .drk-margin-large-right { margin-right: $margin-large-margin-l !important; }

}


/* XLarge
 ========================================================================== */

.drk-margin-xlarge { margin-bottom: $margin-xlarge-margin; }
* + .drk-margin-xlarge { margin-top: $margin-xlarge-margin !important; }

.drk-margin-xlarge-top { margin-top: $margin-xlarge-margin !important; }
.drk-margin-xlarge-bottom { margin-bottom: $margin-xlarge-margin !important; }
.drk-margin-xlarge-left { margin-left: $margin-xlarge-margin !important; }
.drk-margin-xlarge-right { margin-right: $margin-xlarge-margin !important; }

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .drk-margin-xlarge { margin-bottom: $margin-xlarge-margin-l; }
    * + .drk-margin-xlarge { margin-top: $margin-xlarge-margin-l !important; }

    .drk-margin-xlarge-top { margin-top: $margin-xlarge-margin-l !important; }
    .drk-margin-xlarge-bottom { margin-bottom: $margin-xlarge-margin-l !important; }
    .drk-margin-xlarge-left { margin-left: $margin-xlarge-margin-l !important; }
    .drk-margin-xlarge-right { margin-right: $margin-xlarge-margin-l !important; }

}


/* Auto
 ========================================================================== */

.drk-margin-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.drk-margin-auto-top { margin-top: auto !important; }
.drk-margin-auto-bottom { margin-bottom: auto !important; }
.drk-margin-auto-left { margin-left: auto !important; }
.drk-margin-auto-right { margin-right: auto !important; }

.drk-margin-auto-vertical {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {

    .drk-margin-auto\@s {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .drk-margin-auto-left\@s { margin-left: auto !important; }
    .drk-margin-auto-right\@s { margin-right: auto !important; }

}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {

    .drk-margin-auto\@m {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .drk-margin-auto-left\@m { margin-left: auto !important; }
    .drk-margin-auto-right\@m { margin-right: auto !important; }

}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .drk-margin-auto\@l {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .drk-margin-auto-left\@l { margin-left: auto !important; }
    .drk-margin-auto-right\@l { margin-right: auto !important; }

}

/* Large screen and bigger */
@media (min-width: $breakpoint-xlarge) {

    .drk-margin-auto\@xl {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .drk-margin-auto-left\@xl { margin-left: auto !important; }
    .drk-margin-auto-right\@xl { margin-right: auto !important; }

}


/* Remove
 ========================================================================== */

.drk-margin-remove { margin: 0 !important; }
.drk-margin-remove-top { margin-top: 0 !important; }
.drk-margin-remove-bottom { margin-bottom: 0 !important; }
.drk-margin-remove-left { margin-left: 0 !important; }
.drk-margin-remove-right { margin-right: 0 !important; }

.drk-margin-remove-vertical {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.drk-margin-remove-adjacent + *,
.drk-margin-remove-first-child > :first-child { margin-top: 0 !important; }
.drk-margin-remove-last-child > :last-child { margin-bottom: 0 !important; }

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {

    .drk-margin-remove-left\@s { margin-left: 0 !important; }
    .drk-margin-remove-right\@s { margin-right: 0 !important; }

}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {

    .drk-margin-remove-left\@m { margin-left: 0 !important; }
    .drk-margin-remove-right\@m { margin-right: 0 !important; }

}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .drk-margin-remove-left\@l { margin-left: 0 !important; }
    .drk-margin-remove-right\@l { margin-right: 0 !important; }

}

/* Large screen and bigger */
@media (min-width: $breakpoint-xlarge) {

    .drk-margin-remove-left\@xl { margin-left: 0 !important; }
    .drk-margin-remove-right\@xl { margin-right: 0 !important; }

}


// Hooks
// ========================================================================

@if(meta.mixin-exists(hook-margin-misc)) {@include hook-margin-misc();}

// @mixin hook-margin-misc(){}
