@use "sass:meta";

// Name:            Nav
// Description:     Defines styles for list navigations
//
// Component:       `drk-nav`
//
// Sub-objects:     `drk-nav-parent-icon`
//                  `drk-nav-header`
//                  `drk-nav-divider`
//                  `drk-nav-subtitle`
//                  `drk-nav-sub`
//
// Modifiers:       `drk-nav-default`
//                  `drk-nav-primary`
//                  `drk-nav-secondary`
//                  `drk-nav-medium`
//                  `drk-nav-large`
//                  `drk-nav-xlarge`
//                  `drk-nav-center`,
//                  `drk-nav-divider`
//
// States:          `drk-active`
//                  `drk-parent`
//                  `drk-open`
//                  `drk-touch`
//
// ========================================================================


// Variables
// ========================================================================









$nav-medium-font-size:                           $nav-medium-font-size-m * 0.825 !default;    // 40px 0.714
$nav-medium-font-size-m:                         $nav-medium-font-size-l * 0.875 !default;    // 3.5rem / 56px
$nav-medium-font-size-l:                         4rem !default; // 64px

$nav-large-font-size:                            $nav-large-font-size-m * 0.85 !default;      // 50px 0.78
$nav-large-font-size-m:                          4rem !default; // 64px
$nav-large-font-size-l:                          6rem !default; // 96px

$nav-xlarge-font-size:                           4rem !default; // 64px
$nav-xlarge-font-size-m:                         6rem !default; // 96px
$nav-xlarge-font-size-l:                         8rem !default; // 128px



/* ========================================================================
   Component: Nav
 ========================================================================== */

/*
 * Reset
 */

.drk-nav,
.drk-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
* 1. Center content vertically, e.g. an icon
* 2. Imitate white space gap when using flexbox
* 3. Reset link
 */

.drk-nav li > a {
    /* 1 */
    display: flex;
    align-items: center;
    /* 2 */
    column-gap: 0.25em;
    /* 3*/
    text-decoration: none;
}

/*
 * Items
 * Must target `a` elements to exclude other elements (e.g. lists)
 */

.drk-nav > li > a { padding: $nav-item-padding-vertical $nav-item-padding-horizontal; }


/* Sublists
 ========================================================================== */

/*
 * Level 2
 * `ul` needed for higher specificity to override padding
 */

ul.drk-nav-sub {
    padding: $nav-sublist-padding-vertical 0 $nav-sublist-padding-vertical $nav-sublist-padding-left;
    @if(meta.mixin-exists(hook-nav-sub)) {@include hook-nav-sub();}
}

/*
 * Level 3 and deeper
 */

.drk-nav-sub ul { padding-left: $nav-sublist-deeper-padding-left; }

/*
 * Items
 */

.drk-nav-sub a { padding: $nav-sublist-item-padding-vertical 0; }


/* Parent icon
 ========================================================================== */

.drk-nav-parent-icon {
    --drk-icon-width: 12px;
    --drk-icon-height: 12px;
    flex: none;
    margin-left: auto;
    transition: transform 0.3s ease-out;
}

.drk-nav > li.drk-open > a .drk-nav-parent-icon { transform: rotateX(180deg); }

.drk-nav-primary .drk-nav-parent-icon {
    --drk-icon-width: 14px;
    --drk-icon-height: 14px;
}


/* Header
 ========================================================================== */

.drk-nav-header {
    padding: $nav-header-padding-vertical $nav-header-padding-horizontal;
    text-transform: $nav-header-text-transform;
    font-size: $nav-header-font-size;
    @if(meta.mixin-exists(hook-nav-header)) {@include hook-nav-header();}
}

.drk-nav-header:not(:first-child) { margin-top: $nav-header-margin-top; }


/* Divider
 ========================================================================== */

.drk-nav .drk-nav-divider {
    margin: $nav-divider-margin-vertical $nav-divider-margin-horizontal;
    @if(meta.mixin-exists(hook-nav-divider)) {@include hook-nav-divider();}
}


/* Default modifier
 ========================================================================== */

.drk-nav-default {
    font-size: $nav-default-font-size;
    line-height: $nav-default-line-height;
    @if(meta.mixin-exists(hook-nav-default)) {@include hook-nav-default();}
}

/*
 * Items
 */

.drk-nav-default > li > a {
    color: $nav-default-item-color;
    @if(meta.mixin-exists(hook-nav-default-item)) {@include hook-nav-default-item();}
}

/* Hover */
.drk-nav-default > li > a:hover {
    color: $nav-default-item-hover-color;
    @if(meta.mixin-exists(hook-nav-default-item-hover)) {@include hook-nav-default-item-hover();}
}

/* Active */
.drk-nav-default > li.drk-active > a {
    color: $nav-default-item-active-color;
    @if(meta.mixin-exists(hook-nav-default-item-active)) {@include hook-nav-default-item-active();}
}

/*
 * Subtitle
 */

.drk-nav-default .drk-nav-subtitle {
    font-size: $nav-default-subtitle-font-size;
    @if(meta.mixin-exists(hook-nav-default-subtitle)) {@include hook-nav-default-subtitle();}
}

/*
 * Header
 */

.drk-nav-default .drk-nav-header {
    color: $nav-default-header-color;
    @if(meta.mixin-exists(hook-nav-default-header)) {@include hook-nav-default-header();}
}

/*
 * Divider
 */

.drk-nav-default .drk-nav-divider {
    border-top: $nav-default-divider-border-width solid $nav-default-divider-border;
    @if(meta.mixin-exists(hook-nav-default-divider)) {@include hook-nav-default-divider();}
}

/*
 * Sublists
 */

.drk-nav-default .drk-nav-sub {
    font-size: $nav-default-sublist-font-size;
    line-height: $nav-default-sublist-line-height;
}

.drk-nav-default .drk-nav-sub a { color: $nav-default-sublist-item-color; }

.drk-nav-default .drk-nav-sub a:hover { color: $nav-default-sublist-item-hover-color; }

.drk-nav-default .drk-nav-sub li.drk-active > a { color: $nav-default-sublist-item-active-color; }


/* Primary modifier
 ========================================================================== */

.drk-nav-primary {
    font-size: $nav-primary-font-size;
    line-height: $nav-primary-line-height;
    @if(meta.mixin-exists(hook-nav-primary)) {@include hook-nav-primary();}
}

/*
 * Items
 */

.drk-nav-primary > li > a {
    color: $nav-primary-item-color;
    @if(meta.mixin-exists(hook-nav-primary-item)) {@include hook-nav-primary-item();}
}

/* Hover */
.drk-nav-primary > li > a:hover {
    color: $nav-primary-item-hover-color;
    @if(meta.mixin-exists(hook-nav-primary-item-hover)) {@include hook-nav-primary-item-hover();}
}

/* Active */
.drk-nav-primary > li.drk-active > a {
    color: $nav-primary-item-active-color;
    @if(meta.mixin-exists(hook-nav-primary-item-active)) {@include hook-nav-primary-item-active();}
}

/*
 * Subtitle
 */

.drk-nav-primary .drk-nav-subtitle {
    font-size: $nav-primary-subtitle-font-size;
    @if(meta.mixin-exists(hook-nav-primary-subtitle)) {@include hook-nav-primary-subtitle();}
}

/*
 * Header
 */

.drk-nav-primary .drk-nav-header {
    color: $nav-primary-header-color;
    @if(meta.mixin-exists(hook-nav-primary-header)) {@include hook-nav-primary-header();}
}

/*
 * Divider
 */

.drk-nav-primary .drk-nav-divider {
    border-top: $nav-primary-divider-border-width solid $nav-primary-divider-border;
    @if(meta.mixin-exists(hook-nav-primary-divider)) {@include hook-nav-primary-divider();}
}

/*
 * Sublists
 */

.drk-nav-primary .drk-nav-sub {
    font-size: $nav-primary-sublist-font-size;
    line-height: $nav-primary-sublist-line-height;
}

.drk-nav-primary .drk-nav-sub a { color: $nav-primary-sublist-item-color; }

.drk-nav-primary .drk-nav-sub a:hover { color: $nav-primary-sublist-item-hover-color; }

.drk-nav-primary .drk-nav-sub li.drk-active > a { color: $nav-primary-sublist-item-active-color; }


/* Secondary modifier
 ========================================================================== */

.drk-nav-secondary {
    font-size: $nav-secondary-font-size;
    line-height: $nav-secondary-line-height;
    @if(meta.mixin-exists(hook-nav-secondary)) {@include hook-nav-secondary();}
}

/*
 * Items
 */

.drk-nav-secondary > li > a {
    color: $nav-secondary-item-color;
    @if(meta.mixin-exists(hook-nav-secondary-item)) {@include hook-nav-secondary-item();}
}

/* Hover */
.drk-nav-secondary > li > a:hover {
    color: $nav-secondary-item-hover-color;
    @if(meta.mixin-exists(hook-nav-secondary-item-hover)) {@include hook-nav-secondary-item-hover();}
}

/* Active */
.drk-nav-secondary > li.drk-active > a {
    color: $nav-secondary-item-active-color;
    @if(meta.mixin-exists(hook-nav-secondary-item-active)) {@include hook-nav-secondary-item-active();}
}

/*
 * Subtitle
 */

.drk-nav-secondary .drk-nav-subtitle {
    font-size: $nav-secondary-subtitle-font-size;
    color: $nav-secondary-subtitle-color;
    @if(meta.mixin-exists(hook-nav-secondary-subtitle)) {@include hook-nav-secondary-subtitle();}
}

/* Hover */
.drk-nav-secondary > li > a:hover .drk-nav-subtitle {
    color: $nav-secondary-subtitle-hover-color;
    @if(meta.mixin-exists(hook-nav-secondary-subtitle-hover)) {@include hook-nav-secondary-subtitle-hover();}
}

/* Active */
.drk-nav-secondary > li.drk-active > a .drk-nav-subtitle {
    color: $nav-secondary-subtitle-active-color;
    @if(meta.mixin-exists(hook-nav-secondary-subtitle-active)) {@include hook-nav-secondary-subtitle-active();}
}

/*
 * Header
 */

.drk-nav-secondary .drk-nav-header {
    color: $nav-secondary-header-color;
    @if(meta.mixin-exists(hook-nav-secondary-header)) {@include hook-nav-secondary-header();}
}

/*
 * Divider
 */

.drk-nav-secondary .drk-nav-divider {
    border-top: $nav-secondary-divider-border-width solid $nav-secondary-divider-border;
    @if(meta.mixin-exists(hook-nav-secondary-divider)) {@include hook-nav-secondary-divider();}
}

/*
 * Sublists
 */

.drk-nav-secondary .drk-nav-sub {
    font-size: $nav-secondary-sublist-font-size;
    line-height: $nav-secondary-sublist-line-height;
}

.drk-nav-secondary .drk-nav-sub a { color: $nav-secondary-sublist-item-color; }

.drk-nav-secondary .drk-nav-sub a:hover { color: $nav-secondary-sublist-item-hover-color; }

.drk-nav-secondary .drk-nav-sub li.drk-active > a { color: $nav-secondary-sublist-item-active-color; }


/* Size modifier
 ========================================================================== */

/*
 * Medium
 */

.drk-nav-medium {
    font-size: $nav-medium-font-size;
    line-height: $nav-medium-line-height;
    @if(meta.mixin-exists(hook-nav-medium)) {@include hook-nav-medium();}
}

.drk-nav-large {
    font-size: $nav-large-font-size;
    line-height: $nav-large-line-height;
    @if(meta.mixin-exists(hook-nav-large)) {@include hook-nav-large();}
}

.drk-nav-xlarge {
    font-size: $nav-xlarge-font-size;
    line-height: $nav-xlarge-line-height;
    @if(meta.mixin-exists(hook-nav-xlarge)) {@include hook-nav-xlarge();}
}

/* Tablet Landscape and bigger */
@media (min-width: $breakpoint-medium) {

    .drk-nav-medium { font-size: $nav-medium-font-size-m; }
    .drk-nav-large { font-size: $nav-large-font-size-m; }
    .drk-nav-xlarge { font-size: $nav-xlarge-font-size-m; }

}

/* Laptop and bigger */
@media (min-width: $breakpoint-large) {

    .drk-nav-medium { font-size: $nav-medium-font-size-l; }
    .drk-nav-large { font-size: $nav-large-font-size-l; }
    .drk-nav-xlarge { font-size: $nav-xlarge-font-size-l; }

}


/* Alignment modifier
 ========================================================================== */

/*
 * 1. Center header
 * 2. Center items
 */

 /* 1 */
.drk-nav-center { text-align: center; }
 /* 2 */
.drk-nav-center li > a { justify-content: center; }

/* Sublists */
.drk-nav-center .drk-nav-sub,
.drk-nav-center .drk-nav-sub ul { padding-left: 0; }

/* Parent icon  */
.drk-nav-center .drk-nav-parent-icon { margin-left: $nav-parent-icon-margin-left; }


/* Style modifier
 ========================================================================== */

/*
 * Divider
 * Naming is in plural to prevent conflicts with divider sub object.
 */

.drk-nav.drk-nav-divider > :not(.drk-nav-header, .drk-nav-divider) + :not(.drk-nav-header, .drk-nav-divider) {
    margin-top: $nav-dividers-margin-top;
    padding-top: $nav-dividers-margin-top;
    border-top: $nav-dividers-border-width solid $nav-dividers-border;
    @if(meta.mixin-exists(hook-nav-dividers)) {@include hook-nav-dividers();}
}


// Hooks
// ========================================================================

@if(meta.mixin-exists(hook-nav-misc)) {@include hook-nav-misc();}

// @mixin hook-nav-sub(){}
// @mixin hook-nav-header(){}
// @mixin hook-nav-divider(){}
// @mixin hook-nav-default(){}
// @mixin hook-nav-default-item(){}
// @mixin hook-nav-default-item-hover(){}
// @mixin hook-nav-default-item-active(){}
// @mixin hook-nav-default-subtitle(){}
// @mixin hook-nav-default-header(){}
// @mixin hook-nav-default-divider(){}
// @mixin hook-nav-primary(){}
// @mixin hook-nav-primary-item(){}
// @mixin hook-nav-primary-item-hover(){}
// @mixin hook-nav-primary-item-active(){}
// @mixin hook-nav-primary-subtitle(){}
// @mixin hook-nav-primary-header(){}
// @mixin hook-nav-primary-divider(){}
// @mixin hook-nav-secondary(){}
// @mixin hook-nav-secondary-item(){}
// @mixin hook-nav-secondary-item-hover(){}
// @mixin hook-nav-secondary-item-active(){}
// @mixin hook-nav-secondary-subtitle(){}
// @mixin hook-nav-secondary-subtitle-hover(){}
// @mixin hook-nav-secondary-subtitle-active(){}
// @mixin hook-nav-secondary-header(){}
// @mixin hook-nav-secondary-divider(){}
// @mixin hook-nav-medium(){}
// @mixin hook-nav-large(){}
// @mixin hook-nav-xlarge(){}
// @mixin hook-nav-dividers(){}
// @mixin hook-nav-misc(){}


// Inverse
// ========================================================================







// @mixin hook-inverse-nav-default-item(){}
// @mixin hook-inverse-nav-default-item-hover(){}
// @mixin hook-inverse-nav-default-item-active(){}
// @mixin hook-inverse-nav-default-header(){}
// @mixin hook-inverse-nav-default-divider(){}
// @mixin hook-inverse-nav-primary-item(){}
// @mixin hook-inverse-nav-primary-item-hover(){}
// @mixin hook-inverse-nav-primary-item-active(){}
// @mixin hook-inverse-nav-primary-header(){}
// @mixin hook-inverse-nav-primary-divider(){}
// @mixin hook-inverse-nav-secondary-item(){}
// @mixin hook-inverse-nav-secondary-item-hover(){}
// @mixin hook-inverse-nav-secondary-item-active(){}
// @mixin hook-inverse-nav-secondary-subtitle(){}
// @mixin hook-inverse-nav-secondary-subtitle-hover(){}
// @mixin hook-inverse-nav-secondary-subtitle-active(){}
// @mixin hook-inverse-nav-secondary-header(){}
// @mixin hook-inverse-nav-secondary-divider(){}
// @mixin hook-inverse-nav-dividers(){}
