@use "sass:meta";

// Name:            Overlay
// Description:     Component to create content areas overlaying an image
//
// Component:       `drk-overlay`
//
// Adopted:         `drk-overlay-icon`
//
// Modifier:        `drk-overlay-default`
//                  `drk-overlay-primary`
//
// ========================================================================


// Variables
// ========================================================================





/* ========================================================================
   Component: Overlay
 ========================================================================== */

.drk-overlay {
    padding: $overlay-padding-vertical $overlay-padding-horizontal;
    @if(meta.mixin-exists(hook-overlay)) {@include hook-overlay();}
}

/*
 * Remove margin from the last-child
 */

.drk-overlay > :last-child { margin-bottom: 0; }


/* Icon
 ========================================================================== */

.drk-overlay-icon {
    --drk-icon-width: 40px;
    --drk-icon-height: 40px;
    @if(meta.mixin-exists(hook-overlay-icon)) {@include hook-overlay-icon();}
}


/* Style modifiers
 ========================================================================== */

/*
 * Default
 */

.drk-overlay-default {
    --drk-inverse: #{$overlay-default-color-mode};
    background: $overlay-default-background;
    @if(meta.mixin-exists(hook-overlay-default)) {@include hook-overlay-default();}
}

// Color Mode
@if ( $overlay-default-color-mode == light ) { .drk-overlay-default { @extend .drk-light !optional;} }
@if ( $overlay-default-color-mode == dark ) { .drk-overlay-default { @extend .drk-dark !optional;} }

/*
 * Primary
 */

.drk-overlay-primary {
    --drk-inverse: #{$overlay-primary-color-mode};
    background: $overlay-primary-background;
    @if(meta.mixin-exists(hook-overlay-primary)) {@include hook-overlay-primary();}
}

// Color Mode
@if ( $overlay-primary-color-mode == light ) { .drk-overlay-primary { @extend .drk-light !optional;} }
@if ( $overlay-primary-color-mode == dark ) { .drk-overlay-primary { @extend .drk-dark !optional;} }


// Hooks
// ========================================================================

@if(meta.mixin-exists(hook-overlay-misc)) {@include hook-overlay-misc();}

// @mixin hook-overlay(){}
// @mixin hook-overlay-icon(){}
// @mixin hook-overlay-default(){}
// @mixin hook-overlay-primary(){}
// @mixin hook-overlay-misc(){}
