@use "sass:meta";

// Name:            Sortable
// Description:     Component to create sortable grids and lists
//
// Component:       `drk-sortable`
//
// Sub-objects:     `drk-sortable-drag`
//                  `drk-sortable-placeholder`
//                  `drk-sortable-handle`
//
// Modifiers:       `drk-sortable-empty`
//
// States:          `drk-drag`
//
// ========================================================================


// Variables
// ========================================================================





/* ========================================================================
   Component: Sortable
 ========================================================================== */

.drk-sortable {
    position: relative;
    @if(meta.mixin-exists(hook-sortable)) {@include hook-sortable();}
}

/*
 * Remove margin from the last-child
 */

.drk-sortable > :last-child { margin-bottom: 0; }


/* Drag
 ========================================================================== */

.drk-sortable-drag {
    position: fixed !important;
    z-index: $sortable-dragged-z-index !important;
    pointer-events: none;
    @if(meta.mixin-exists(hook-sortable-drag)) {@include hook-sortable-drag();}
}


/* Placeholder
 ========================================================================== */

.drk-sortable-placeholder {
    opacity: $sortable-placeholder-opacity;
    pointer-events: none;
    @if(meta.mixin-exists(hook-sortable-placeholder)) {@include hook-sortable-placeholder();}
}


/* Empty modifier
 ========================================================================== */

.drk-sortable-empty {
    min-height: $sortable-empty-height;
    @if(meta.mixin-exists(hook-sortable-empty)) {@include hook-sortable-empty();}
}


/* Handle
 ========================================================================== */

/* Hover */
.drk-sortable-handle:hover { cursor: move; }



// Hooks
// ========================================================================

@if(meta.mixin-exists(hook-sortable-misc)) {@include hook-sortable-misc();}

// @mixin hook-sortable(){}
// @mixin hook-sortable-drag(){}
// @mixin hook-sortable-placeholder(){}
// @mixin hook-sortable-empty(){}
// @mixin hook-sortable-misc(){}
