@use "sass:meta";

// Name:            Spinner
// Description:     Component to create a loading spinner
//
// Component:       `uk-spinner`
//
// ========================================================================


// Variables
// ========================================================================



/* ========================================================================
   Component: Spinner
 ========================================================================== */

/*
 * Adopts `uk-icon`
 */

.uk-spinner {
    --uk-icon-width: #{$spinner-size};
    --uk-icon-height: #{$spinner-size};
    animation: uk-spinner-rotate $spinner-duration linear infinite;
    @if(meta.mixin-exists(hook-spinner)) {@include hook-spinner();}
}

@keyframes uk-spinner-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (prefers-reduced-motion: reduce) {
    .uk-spinner { animation: none; }
}


// Hooks
// ========================================================================

@if(meta.mixin-exists(hook-spinner-misc)) {@include hook-spinner-misc();}

// @mixin hook-spinner(){}
// @mixin hook-spinner-misc(){}
