@use "sass:meta";

// Name:            Switcher
// Description:     Component to navigate through different content panes
//
// Component:       `drk-switcher`
//
// States:          `drk-active`
//
// ========================================================================


/* ========================================================================
   Component: Switcher
 ========================================================================== */

/*
 * Reset list
 */

.drk-switcher {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Items
 ========================================================================== */

/*
 * Hide not active items
 */

.drk-switcher > :not(.drk-active) { display: none; }

/*
 * Remove margin from the last-child
 */

.drk-switcher > * > :last-child { margin-bottom: 0; }


// Hooks
// ========================================================================

@if(meta.mixin-exists(hook-switcher-misc)) {@include hook-switcher-misc();}

// @mixin hook-switcher-misc(){}
