@use "sass:meta";

// Name:            Totop
// Description:     Component to create an icon to scroll back to top
//
// Component:       `drk-totop`
//
// ========================================================================


// Variables
// ========================================================================





/* ========================================================================
   Component: Totop
 ========================================================================== */

/*
 * Adopts `drk-icon`
 */

.drk-totop {
    --drk-icon-width: 18px;
    --drk-icon-height: 10px;
    padding: $totop-padding;
    color: $totop-color;
    @if(meta.mixin-exists(hook-totop)) {@include hook-totop();}
}

/* Hover */
.drk-totop:hover {
    color: $totop-hover-color;
    @if(meta.mixin-exists(hook-totop-hover)) {@include hook-totop-hover();}
}

/* OnClick */
.drk-totop:active {
    color: $totop-active-color;
    @if(meta.mixin-exists(hook-totop-active)) {@include hook-totop-active();}
}


// Hooks
// ========================================================================

@if(meta.mixin-exists(hook-totop-misc)) {@include hook-totop-misc();}

// @mixin hook-totop(){}
// @mixin hook-totop-hover(){}
// @mixin hook-totop-active(){}
// @mixin hook-totop-misc(){}


// Inverse
// ========================================================================




// @mixin hook-inverse-totop(){}
// @mixin hook-inverse-totop-hover(){}
// @mixin hook-inverse-totop-active(){}
