// Name:            Inverse
// Description:     Inverse component style for light or dark backgrounds
//
// Component:       `drk-light`
//                  `drk-dark`
//
// ========================================================================


// Variables
// ========================================================================

@inverse-global-color-mode:                     light;

@inverse-global-color:                          fade(@global-inverse-color, 70%);
@inverse-global-emphasis-color:                 @global-inverse-color;
@inverse-global-muted-color:                    fade(@global-inverse-color, 50%);
@inverse-global-inverse-color:                  @global-color;

@inverse-global-primary-background:             @global-inverse-color;
@inverse-global-muted-background:               fade(@global-inverse-color, 10%);

@inverse-global-border:                         fade(@global-inverse-color, 20%);


/* ========================================================================
   Component: Inverse
 ========================================================================== */

/*
 * Implemented class depends on the general theme color
 * `drk-light` is for light colors on dark backgrounds
 * `drk-dark` is or dark colors on light backgrounds
 */

.drk-light when (@inverse-global-color-mode = light) {

    .hook-inverse();

}

.drk-dark when (@inverse-global-color-mode = dark) {

    .hook-inverse();

}

/*
 * Pass dropbar behind color to JS
 */

* { --drk-inverse: initial; }

.drk-light { --drk-inverse: light; }
.drk-dark { --drk-inverse: dark; }

.drk-inverse-light { --drk-inverse: light !important; }
.drk-inverse-dark { --drk-inverse: dark !important; }


// Hooks
// ========================================================================

.hook-inverse() {}
