// Name:            List
// Description:     Styles for lists
//
// Component:       `drk-list`
//
// Modifiers:       `drk-list-disc`
//                  `drk-list-circle`
//                  `drk-list-square`
//                  `drk-list-decimal`
//                  `drk-list-hyphen`
//                  `drk-list-muted`
//                  `drk-list-emphasis`
//                  `drk-list-primary`
//                  `drk-list-secondary`
//                  `drk-list-bullet`
//                  `drk-list-divider`
//                  `drk-list-striped`
//                  `drk-list-large`
//                  `drk-list-collapse`
//
// ========================================================================


// Variables
// ========================================================================

@list-margin-top:                               @global-small-margin;

@list-padding-left:                             30px;

@list-marker-height:                            (@global-line-height * 1em);

@list-muted-color:                              @global-muted-color;
@list-emphasis-color:                           @global-emphasis-color;
@list-primary-color:                            @global-primary-background;
@list-secondary-color:                          @global-secondary-background;

@list-bullet-icon-color:                        @global-color;

@list-divider-margin-top:                       @global-small-margin;
@list-divider-border-width:                     @global-border-width;
@list-divider-border:                           @global-border;

@list-striped-padding-vertical:                 @global-small-margin;
@list-striped-padding-horizontal:               @global-small-margin;
@list-striped-background:                       @global-muted-background;

@list-large-margin-top:                         @global-margin;
@list-large-divider-margin-top:                 @global-margin;
@list-large-striped-padding-vertical:           @global-margin;
@list-large-striped-padding-horizontal:         @global-small-margin;

@internal-list-bullet-image:                    @tabler-icon-point;


/* ========================================================================
   Component: List
 ========================================================================== */

.drk-list {
    padding: 0;
    list-style: none;
}

/*
 * Avoid column break within the list item, when using `column-count`
 */

.drk-list > * { break-inside: avoid-column; }

/*
 * Remove margin from the last-child
 */

.drk-list > * > :last-child { margin-bottom: 0; }

/*
 * Style
 */

.drk-list > :nth-child(n+2),
.drk-list > * > ul { margin-top: @list-margin-top; }


/* Marker modifiers
 ========================================================================== */

.drk-list-disc,
.drk-list-circle,
.drk-list-square,
.drk-list-decimal,
.drk-list-hyphen { padding-left: @list-padding-left; }

.drk-list-disc { list-style-type: disc; }
.drk-list-circle { list-style-type: circle; }
.drk-list-square { list-style-type: square; }
.drk-list-decimal { list-style-type: decimal; }
.drk-list-hyphen { list-style-type: '–  '; }

/*
 * Color modifiers
 */

.drk-list-muted > ::marker { color: @list-muted-color !important; }
.drk-list-emphasis > ::marker { color: @list-emphasis-color !important; }
.drk-list-primary > ::marker { color: @list-primary-color !important; }
.drk-list-secondary > ::marker { color: @list-secondary-color !important; }


/* Image bullet modifier
 ========================================================================== */

.drk-list-bullet > * {
    position: relative;
    padding-left: @list-padding-left;
}

.drk-list-bullet > ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: @list-padding-left;
    height: @global-line-height * 1em;
    .tabler-background(@internal-list-bullet-image, @list-bullet-icon-color);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


/* Style modifiers
 ========================================================================== */

/*
 * Divider
 */

.drk-list-divider > :nth-child(n+2) {
    margin-top: @list-divider-margin-top;
    padding-top: @list-divider-margin-top;
    border-top: @list-divider-border-width solid @list-divider-border;
    .hook-list-divider();
}

/*
 * Striped
 */

.drk-list-striped > * {
    padding: @list-striped-padding-vertical @list-striped-padding-horizontal;
    .hook-list-striped();
}

.drk-list-striped > :nth-of-type(odd) { background: @list-striped-background; }

.drk-list-striped > :nth-child(n+2) { margin-top: 0; }


/* Size modifier
 ========================================================================== */

.drk-list-large > :nth-child(n+2),
.drk-list-large > * > ul { margin-top: @list-large-margin-top; }

.drk-list-collapse > :nth-child(n+2),
.drk-list-collapse > * > ul { margin-top: 0; }

/*
 * Divider
 */

.drk-list-large.drk-list-divider > :nth-child(n+2) {
    margin-top: @list-large-divider-margin-top;
    padding-top: @list-large-divider-margin-top;
}

.drk-list-collapse.drk-list-divider > :nth-child(n+2) {
    margin-top: 0;
    padding-top: 0;
}

/*
 * Striped
 */

.drk-list-large.drk-list-striped > * { padding: @list-large-striped-padding-vertical @list-large-striped-padding-horizontal; }

.drk-list-collapse.drk-list-striped > * {
    padding-top: 0;
    padding-bottom: 0;
}

.drk-list-large.drk-list-striped > :nth-child(n+2),
.drk-list-collapse.drk-list-striped > :nth-child(n+2) { margin-top: 0; }


// Hooks
// ========================================================================

.hook-list-misc();

.hook-list-divider() {}
.hook-list-striped() {}
.hook-list-misc() {}


// Inverse
// ========================================================================

@inverse-list-muted-color:                        @inverse-global-muted-color;
@inverse-list-emphasis-color:                     @inverse-global-emphasis-color;
@inverse-list-primary-color:                      @inverse-global-primary-background;
@inverse-list-secondary-color:                    @inverse-global-primary-background;

@inverse-list-divider-border:                     @inverse-global-border;
@inverse-list-striped-background:                 @inverse-global-muted-background;

@inverse-list-bullet-icon-color:                  @inverse-global-color;

.hook-inverse() {

    .drk-list-muted > ::marker { color: @inverse-list-muted-color !important; }
    .drk-list-emphasis > ::marker { color: @inverse-list-emphasis-color !important; }
    .drk-list-primary > ::marker { color: @inverse-list-primary-color !important; }
    .drk-list-secondary > ::marker { color: @inverse-list-secondary-color !important; }

    .drk-list-bullet > ::before {
        .tabler-background(@internal-list-bullet-image, @inverse-list-bullet-icon-color);
    }

    .drk-list-divider > :nth-child(n+2) {
        border-top-color: @inverse-list-divider-border;
        .hook-inverse-list-divider();
    }

    .drk-list-striped > * {
        .hook-inverse-list-striped();
    }

    .drk-list-striped > :nth-of-type(odd) { background-color: @inverse-list-striped-background; }

}

.hook-inverse-list-divider() {}
.hook-inverse-list-striped() {}
