// Name:            Overlay
// Description:     Component to create content areas overlaying an image
//
// Component:       `drk-overlay`
//
// Adopted:         `drk-overlay-icon`
//
// Modifier:        `drk-overlay-default`
//                  `drk-overlay-primary`
//
// ========================================================================


// Variables
// ========================================================================

@overlay-padding-horizontal:                    @global-gutter;
@overlay-padding-vertical:                      @global-gutter;

@overlay-default-background:                    fade(@global-background, 90%);
@overlay-default-color-mode:                    dark;

@overlay-primary-background:                    fade(@global-secondary-background, 90%);
@overlay-primary-color-mode:                    light;


/* ========================================================================
   Component: Overlay
 ========================================================================== */

.drk-overlay {
    padding: @overlay-padding-vertical @overlay-padding-horizontal;
    .hook-overlay();
}

/*
 * Remove margin from the last-child
 */

.drk-overlay > :last-child { margin-bottom: 0; }


/* Icon
 ========================================================================== */

.drk-overlay-icon {
    --drk-icon-width: 40px;
    --drk-icon-height: 40px;
    .hook-overlay-icon();
}


/* Style modifiers
 ========================================================================== */

/*
 * Default
 */

.drk-overlay-default {
    --drk-inverse: @overlay-default-color-mode;
    background: @overlay-default-background;
    .hook-overlay-default();
}

// Color Mode
.drk-overlay-default:extend(.drk-light all) when (@overlay-default-color-mode = light) {}
.drk-overlay-default:extend(.drk-dark all) when (@overlay-default-color-mode = dark) {}

/*
 * Primary
 */

.drk-overlay-primary {
    --drk-inverse: @overlay-primary-color-mode;
    background: @overlay-primary-background;
    .hook-overlay-primary();
}

// Color Mode
.drk-overlay-primary:extend(.drk-light all) when (@overlay-primary-color-mode = light) {}
.drk-overlay-primary:extend(.drk-dark all) when (@overlay-primary-color-mode = dark) {}


// Hooks
// ========================================================================

.hook-overlay-misc();

.hook-overlay() {}
.hook-overlay-icon() {}
.hook-overlay-default() {}
.hook-overlay-primary() {}
.hook-overlay-misc() {}
