// Name:            Spinner
// Description:     Component to create a loading spinner
//
// Component:       `uk-spinner`
//
// ========================================================================


// Variables
// ========================================================================

@spinner-size:                                  30px;
@spinner-duration:                              1.4s;


/* ========================================================================
   Component: Spinner
 ========================================================================== */

/*
 * Adopts `uk-icon`
 */

.uk-spinner {
    --uk-icon-width: @spinner-size;
    --uk-icon-height: @spinner-size;
    animation: uk-spinner-rotate @spinner-duration linear infinite;
    .hook-spinner();
}

@keyframes uk-spinner-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (prefers-reduced-motion: reduce) {
    .uk-spinner { animation: none; }
}


// Hooks
// ========================================================================

.hook-spinner-misc();

.hook-spinner() {}
.hook-spinner-misc() {}
