// Name:            Transition
// Description:     Utilities for transitions
//
// Component:       `drk-transition-*`
//
// Modifiers:       `drk-transition-fade`
//                  `drk-transition-scale-up`
//                  `drk-transition-scale-down`
//                  `drk-transition-slide-top-*`
//                  `drk-transition-slide-bottom-*`
//                  `drk-transition-slide-left-*`
//                  `drk-transition-slide-right-*`
//                  `drk-transition-opaque`
//                  `drk-transition-slow`
//                  `drk-transition-disable`
//
// Sub-objects:     `drk-transition-toggle`,
//                  `drk-transition-active`
//
// States:          `drk-active`
//
// ========================================================================


// Variables
// ========================================================================

@transition-duration:                           0.3s;

@transition-scale:                              1.03;

@transition-slide-small-translate:              10px;
@transition-slide-medium-translate:             50px;

@transition-slow-duration:                      0.7s;


/* ========================================================================
   Component: Transition
 ========================================================================== */

/* Transitions
 ========================================================================== */

/*
 * The toggle is triggered on touch devices by two methods:
 * 1. Using `:focus` and tabindex
 * 2. Using `:hover` and a `touchstart` event listener registered on the document
 *    (Doesn't work on Surface touch devices)
 */

:where(.drk-transition-fade),
:where([class*="drk-transition-scale"]),
:where([class*="drk-transition-slide"]) {
    --drk-position-translate-x: 0;
    --drk-position-translate-y: 0;
}

.drk-transition-fade,
[class*="drk-transition-scale"],
[class*="drk-transition-slide"] {
    --drk-translate-x: 0;
    --drk-translate-y: 0;
    --drk-scale-x: 1;
    --drk-scale-y: 1;
    transform: translate(var(--drk-position-translate-x), var(--drk-position-translate-y))
               translate(var(--drk-translate-x), var(--drk-translate-y))
               scale(var(--drk-scale-x), var(--drk-scale-y));
    transition: @transition-duration ease-out;
    transition-property: opacity, transform, filter;
    opacity: 0;
}

/*
 * Fade
 */

.drk-transition-toggle:hover .drk-transition-fade,
.drk-transition-toggle:focus .drk-transition-fade,
.drk-transition-toggle:focus-within .drk-transition-fade,
.drk-transition-active.drk-active .drk-transition-fade { opacity: 1; }

/*
 * Scale
 * 1. Make image rendering the same during the transition as before and after. Prefixed because of Safari.
 */

/* 1 */
[class*="drk-transition-scale"] { -webkit-backface-visibility: hidden; }

.drk-transition-scale-up {
    --drk-scale-x: 1;
    --drk-scale-y: 1;
}
.drk-transition-scale-down {
    --drk-scale-x: @transition-scale;
    --drk-scale-y: @transition-scale;
}

/* Show */
.drk-transition-toggle:hover .drk-transition-scale-up,
.drk-transition-toggle:focus .drk-transition-scale-up,
.drk-transition-toggle:focus-within .drk-transition-scale-up,
.drk-transition-active.drk-active .drk-transition-scale-up {
    --drk-scale-x: @transition-scale;
    --drk-scale-y: @transition-scale;
    opacity: 1;
}

.drk-transition-toggle:hover .drk-transition-scale-down,
.drk-transition-toggle:focus .drk-transition-scale-down,
.drk-transition-toggle:focus-within .drk-transition-scale-down,
.drk-transition-active.drk-active .drk-transition-scale-down {
    --drk-scale-x: 1;
    --drk-scale-y: 1;
    opacity: 1;
}

/*
 * Slide
 */

.drk-transition-slide-top { --drk-translate-y: -100%; }
.drk-transition-slide-bottom { --drk-translate-y: 100%; }
.drk-transition-slide-left { --drk-translate-x: -100%; }
.drk-transition-slide-right { --drk-translate-x: 100%; }

.drk-transition-slide-top-small { --drk-translate-y: ~'calc(-1 * @{transition-slide-small-translate})'; }
.drk-transition-slide-bottom-small { --drk-translate-y: @transition-slide-small-translate; }
.drk-transition-slide-left-small { --drk-translate-x: ~'calc(-1 * @{transition-slide-small-translate})'; }
.drk-transition-slide-right-small { --drk-translate-x: @transition-slide-small-translate; }

.drk-transition-slide-top-medium { --drk-translate-y: ~'calc(-1 * @{transition-slide-medium-translate})'; }
.drk-transition-slide-bottom-medium { --drk-translate-y: @transition-slide-medium-translate; }
.drk-transition-slide-left-medium { --drk-translate-x: ~'calc(-1 * @{transition-slide-medium-translate})'; }
.drk-transition-slide-right-medium { --drk-translate-x: @transition-slide-medium-translate; }

/* Show */
.drk-transition-toggle:hover [class*="drk-transition-slide"],
.drk-transition-toggle:focus [class*="drk-transition-slide"],
.drk-transition-toggle:focus-within [class*="drk-transition-slide"],
.drk-transition-active.drk-active [class*="drk-transition-slide"] {
    --drk-translate-x: 0;
    --drk-translate-y: 0;
    opacity: 1;
}


/* Opacity modifier
 ========================================================================== */

.drk-transition-opaque { opacity: 1; }


/* Duration modifier
 ========================================================================== */

.drk-transition-slow { transition-duration: @transition-slow-duration; }

/* Disable modifier
 ========================================================================== */

.drk-transition-disable,
.drk-transition-disable * { transition: none !important; }


// Hooks
// ========================================================================

.hook-transition-misc();

.hook-transition-misc() {}
